@import url("https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
.Top3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-container h1 {
  position: relative;
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
  color: aliceblue;
  text-align: center;
  font-family: "Protest Strike", sans-serif;
  margin: 0;
}

.underline {
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  height: 4px;
  width: 0px;
  background-color: #6362ed; /* Your chosen color */
  transition: width 0.5s ease;
  border-radius: 10px;
}

.title-container h1:hover .underline {
  width: 100%; /* Expands to the full width of the h1 text */
}

.title-container p {
  color: aliceblue;
  text-align: center;
}
.cardsView2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 50px;
}
.leftSide {
  backdrop-filter: blur(11px);
  border-radius: 180px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rightSide{
  display: block;
  justify-content: center;
  align-items: center;
}
.ImageBorders {
  background: rgba(74, 144, 226, 0.1);
  box-shadow: 0 8px 32px 0 rgba(44, 48, 112, 0.37);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  padding: 5px;
  width: 300px;
  border-radius: 180px;
}

.spanData {
  background: rgba(74, 144, 226, 0.1);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  margin-left: 20px;
  border-radius: 10px;
  margin-bottom: 5px;
  padding: 2px 2px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 350px;
  transition: all 0.5s ease;
}
.spanData2 {
  background: rgba(74, 144, 226, 0.1);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  border-radius: 10px;
  margin-bottom: 5px;
  padding: 2px 2px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 350px;
  transition: all 0.5s ease;
}
.span1 {
  position: absolute;
  left: 285px;
  top: 50px;
}

.span3 {
  position: absolute;
  left: 305px;
  top: 130px;
}

.span2 {
  position: absolute;
  left: 285px;
  top: 210px;
}

.span4 {
  position: absolute;
  left: -350px;
  top: 210px;
}

.span5 {
  position: absolute;
  left: -370px;
  top: 130px;
}

.span6 {
  position: absolute;
  left: -350px;
  top: 50px;
}

.imageB {
  width: 60px;
  height: 50px;
  background: rgba(74, 144, 226, 0.1);
  box-shadow: 0 8px 32px 0 rgba(44, 48, 112, 0.37);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  border-radius: 10px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spanData h1 {
  font-size: 18px;
  padding-left: 5px;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  color: aliceblue;
  width: 100%;
}
.spanData2 h1 {
  font-size: 18px;
  margin-left: 15px;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  color: aliceblue;
  width: 100%;

}
.spanRight{
  background-color: #6362ed;
  width: 350px;
}